<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coshri.myapp5778">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.AddStudentActivity"    android:label="Add Student"/>
        <activity android:name=".controller.AddLecturerActivity"   android:label="Add Lecturer"/>
        <activity android:name=".controller.AddCourseActivity"     android:label="Add Course"/>
        <activity android:name=".controller.StudentListActivity"     android:label="Student List"/>
    </application>

</manifest>